
body{
	margin: 0;
	background: linear-gradient(92deg, #494446, #141414);
	color: #a89797; 
}

main {
	font-family: "Roboto", sans-serif;
	font-size: clamp(1rem, 0.9285714285714286rem + 0.35714285714285715vw, 1.25rem);
	
	* {
		box-sizing: border-box;
		margin: 0;
		
	}
}


h1 {
	font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 8px;
	text-align: center;
	margin-top: 3rem;
}


.story {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;

	p {
		font-size: 12px;
		margin-bottom: 1rem;
		text-align: center;
		color: #a89797;
	}

	
}

.background-img {
	padding: 2rem;
	display: flex;
	justify-content: center;
	border-radius: 0.5rem;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192), inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
	margin-bottom: 3rem;
}

.story img {
	margin-top: 1rem;
	width: 100%;
	max-width: 800px;
	border-radius: 0.6rem;
	box-shadow: 10px 8px 6px 0px rgba(0, 0, 0, 0.416);
	margin-bottom: 1rem;
	
	
}

.story img:hover {
    transform: scale(1.1);
    transition: all .60s ease-in-out 0s;
    cursor: pointer;
	min-width: 200px;
}


.facts {
	display: flex;
	flex-wrap: wrap;
}

.facts div {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}


.facts p:first-of-type {
	text-align: center;
	letter-spacing: 1px;
	font-size: 1.3rem;
	min-width: max-content;
}


.facts p {
	text-align: center;
	padding: 0.5rem;
	letter-spacing: 1px;
}


.box {
    border: 1px solid rgba(0, 0, 0, 0.303);
	background-color: rgba(86, 29, 38, 0.566);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: sticky;
    left: 100%;
    top: 40%;
    margin-right: 1rem;
	justify-content: center;
    
}

.box img {
	padding: 7px;
}



/* Meet our team  */


.meet {
	position: relative;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0 0 0 / 70%));
	background: linear-gradient(292deg,rgba(86, 29, 38, 0.691), #181818c7);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1rem;

}

h2 {
	margin-top: 2.5rem;
	font-weight: 400;
	margin-bottom: 2rem;
	text-align: center;
	letter-spacing: 10px;
}



.colleague {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 1px solid rgba(153, 153, 153, 0.388);
	padding: 2.5rem;


	p {
		color: #a89797; 
		padding: 0.3rem;
		font-size: 1rem;
		text-align: center;
	}

	p:first-of-type {
		color: #a89797; 
		font-size: 1.8rem;
		font-weight: 500;
		letter-spacing: 2px;
		margin-top: 1.5rem;
	}
	p:first-of-type:hover {
		color: rgb(255, 255, 255);
		background-color: rgb(86 29 38);
		cursor: pointer;
	}

}

.colleague img {
	max-width: 200px;
	min-width: 100px;
	border-radius: 10%;
	box-shadow: 8px 11px 14px 0px rgb(0 0 0);
	padding: 0.1rem;
}



/* Contact us  */

.contact-us {
	display: flex;
	justify-content: center;
}


.contact-container {
	margin-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
    background-color: #7469695f;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 9px 10px 9px 6px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    width: 90%;
	margin-bottom: 3rem;

	h2 {
		font-size: 1rem;
		text-align: center;
		margin-bottom: 2rem;
	}
	
	h3 {
		font-size: 0.7rem;
		margin-bottom: 0.2rem;
		margin-top: 1rem;
		margin-left: 4px;

	}

}

.contact-box {

		div {
			width: 100%;
			background-color: white;
			font-size: 0.7rem;
			border-radius: 0.7rem;
			box-shadow: inset 0px 0px 7px 1px rgb(55 24 24), inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
			padding: 0.2rem;
		}

		div:nth-child(6) {
			height: 6rem;
		}

		
		p {
			padding: 0.6rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		button {
			margin-top: 1.2rem;
			width: 100%;
			padding: 0.7rem;
			background-color: #400d0d6e;
			border-radius: 0.7rem;
			border: none;
			font-weight: 600;
		}

		button:hover {
			cursor:pointer;
			transform:scale(1.1) ;
		}

	}




