* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(92deg, #494446, #141414);
}

/*Container med uppgifter*/
.container 
{
    max-width: 800px;
    margin: 53px;
    background-color: #312d2d;
    color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 12px 13px 20px 8px #1818184a;
}

h1 
{
    margin: 10px;
    text-align: center;
    color: #d1c6c6;
    margin: 20px;
}

label 
{
    font-size: 17px;
    margin: 6px;
    color: #706868;
}

input, select 
{
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #fffdfd;
    border-radius: 5px;
}

.form-group
{
    display: flex;
    flex-direction: column;
}

.purchase-button 
{
    padding: 15px;
    width: fit-content;
    background-color: #423b36;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 12px 13px 20px 8px #1818184a;
}

.purchase-button:hover 
{
    background-color: #241d1d;
}

.Pic-Container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 900px;
    top: 300px;
    width: fit-content;
    height: fit-content;
    gap: 60px;
    margin: 13px;
    background-color: #312d2d;
    color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 12px 13px 20px 8px #1818184a;
}

img
{
    display: block;
    max-width: 200px;
    box-shadow: 12px 13px 20px 8px #1818184a;
}

/*-------footer----*/

footer{
	color: white;
	margin-top: 50px;
	border: 2px solid rgb(74, 64, 64);
	background-color: black;
}
footer .footer-1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 70px 0 0;
}
.footer-1 img{
	margin-left: 20px;
	margin-top: 20px;
	width: 120px;
	border: 2px solid gray;
}
footer .information{
	display: flex;
	flex-direction: column;
}
footer .information>*{
	padding: 15px;
	color: white;
}
footer .information a:hover{
	font-weight: bold;
	color: black;
	background-color: white;
}
footer .social-media{
	padding: 15px;
	display: flex;
	flex-direction: column;
}
footer .social-media img{
	width: 30px;
}
footer .copy-right{
	border-top: 2px solid gray;
	display: flex;
	justify-content: center;
    align-items: center;
}

.footer-1 .contact{
	padding: 15px;
	color: white;
}
.contact .contact-3>*{
	padding: 15px;

}
.contact .contact-2{
	margin-bottom: 30px;
	margin-bottom: 20px;
}
.copy-right .p-1{
	margin-top: 20px;
	margin-bottom: 20px;
}


/*------for media query--------*/

@media only screen and (max-width: 600px) {
    body{
        background-color: lightblue;
    
    }
.header-1{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .header-1 .search{
    position: static;
    display: flex;
    flex-direction: column;
 }
.header-1>img{
display: none;
}
.header-1 .search .input {
    height: 20px;
    width: 200px;
}
.header-1 .search .button {
    padding: 5px;
    border: none;    
}
footer .footer-1{
    display: flex;
    flex-direction: column;}
}