*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
      font-family: 'poppins, sans-serif';
      background: #312d2d;
  }
  
  /*------feature product--------*/
  .small-container{
    background: linear-gradient(grey,skyblue);
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .col-4{
   flex-basis: 25%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px; 
   transition: transform 0.5s;/*mecheresha lay rating behala*/
   }
  .col-4 img{
    width: 100%;
    margin-bottom:1em;
    /*height: 150px;*//*optional*/
  }
  .title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
  }
  .title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .title:hover{
    color: turquoise;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  h4{
    color:#000;
    font-weight: normal;
    margin-bottom: 1em;
  }
  p{
    font-size: 14px;
    margin: 1em 1em;
  
  }
  .rating .fa{
    color:#ff523b;
  }
  .col-4:hover{
    transform: translateY(-5px);
  }