<<<<<<< HEAD
header {
  background-image: url(pic/smart-watch-with-black-band-neon-light-background_843415-1338.png);
  background-size: cover;
}
.header-1 {
  display: flex;
  flex-direction: row;
  border: 2px solid gray;
}

.header-1 img {
  width: 140px;
}
.header-1 .search {
  position: absolute;
  top: 50px;
  right: 20px;
}
.header-1 .search input {
  height: 30px;
  width: 300px;
}
.header-1 .search button {
  background-color: rgb(231, 220, 220);
  border-color: gray;
  font-weight: bold;
  padding: 9px;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;
}
nav > * {
  border: 2px solid gray;
  border-top: none;
  background-color: rgb(225, 215, 215);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > *:hover {
  background-color: rgb(189, 183, 183);
  color: white;
  font-weight: bold;
}
@media (max-width: 580px) {
	body{
		min-width: 260px;
	}
.header-1{
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
}
  .header-1 .search{
	position: static;
    display: flex;
    flex-direction: column;
 }
.header-1>img{
display: none;
}
.header-1 .search input {
	height: 20px;
	width: 200px;
}
.header-1 .search button {
	padding: 5px;
	border: none;
	
}
}
footer{
	color: white;
	margin-top: 50px;
	border: 2px solid rgb(74, 64, 64);
	background-color: black;
}
footer .footer-1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 70px 0 0;
}
.footer-1 img{
	margin-left: 20px;
	margin-top: 20px;
	width: 120px;
	border: 2px solid gray;
}
footer .information{
	display: flex;
	flex-direction: column;
}
footer .information>*{
	padding: 15px;
	color: white;
}
footer .information a:hover{
	font-weight: bold;
	color: black;
	background-color: white;
}
footer .social-media{
	padding: 15px;
	display: flex;
	flex-direction: column;
}
footer .social-media img{
	width: 30px;
}
footer .copy-right{
	border-top: 2px solid gray;
	display: flex;
	justify-content: center;
    align-items: center;
}
.footer-1 .contact{
	padding: 15px;
}
@media (max-width: 580px){
	footer .footer-1{
		display: flex;
		flex-direction: column;}
}	
=======
.header-1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3em 0.5em;
	border: 1px solid black;
}
.header-1 img{
	width: 100px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
}


.main-section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 63, 236, 0.596);
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
    background-size: cover;
    background-position: center;
}


.stylish-text {
    font-family: 'Arial', sans-serif;
    font-size: 70px;
    color: #00000096;
    text-align: center;
    text-shadow: 1px 1px 2px #beb8b8;
}

h3 {
    color: #000000cd;
    margin-top: 10px;   
    text-shadow: 1px 1px 2px #bdb5b5;

}

strong {
    font-size: 18px;
    color: #00000085;
    line-height: 1.5;
    text-shadow: 1px 1px 2px #4e40409b;

}

p {
    font-size: 18px;
    color: #3333338c;
    line-height: 1.5;
    text-shadow: 1px 1px 2px #f4f1f1;

}

@media (max-width: 600px) {
    .main-section {
        padding: 10px;
        margin: 20px;
    }
    .stylish-text {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
}
>>>>>>> main.html
